<!DOCTYPE html>
<html lang="en"></html>

<head th:replace="fragments/fragment :: head"></head>
</head>

<body>

<div>
  <nav th:replace="fragments/fragment :: navigation"></nav>
</div>

<div class="container bg-blur rounded mt-5 ">
  <h1>Oops...Something went wrong!</h1>
  <p class="h3">We are very sorry and we are working to resolve the problem!</p>
  <p class="h3"><a th:href="@{/}">Go home...</a></p>
<!--  <h5 class="text-center text-white mt-5">Oops, something went wrong!</h5>-->
<!--  <h5 class="text-center text-white mt-5">We are very sorry and we are working to resolve the problem!</h5>-->
<!--  <a th:href="@{/}">Go home...</a>-->
</div>







<div>
  <footer th:replace="fragments/fragment :: footer">
  </footer>
</div>

</body>
</html>