<!DOCTYPE html>
<html lang="en">
<head>
    <title>Author Rights</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <main>
        <div class="footer-redirection-wrapper">
            <h2>Авторски права</h2>
            <div class="footer-redirection-container">
                <p>Ню Ера Планерс ЕООД /Планер/ е наясно и защитава своите авторски права. Всички модели на бранда Планер, както неговите снимки и цялостен уебсайт са собственост на planner.com и Ню Ера Планерс. Всички права са запазени. Копиране или използване на елементи от тази собственост без писменото съгласие на Ню Ера Планерс ЕООД се наказва съгласно закона за авторско право на Република България и КЗК.</p>
                <p>Посещавайки тази страница, Вие изрично се съгласявате да спазвате авторските права на Ню Ера Планерс /Планер/.</p>
                <p>Информация за онлайн решаване на потребителски спорове съгласно чл. 14, ал. 1 от ОРС (регламент за Онлайн Решаване на Спорове):</p>
                <p>Съгласно разпоредбите на чл. 14, ал. 1 от ОРС Европейската комисия предоставя една от платформите си на потребителите за разрешаване на онлайн спорове. Платформата (http://ec.europa.eu/consumers/odr) дава възможност за постигане на извънсъдебни споразумения по спорове, свързани с онлайн покупки и договори за услуги.</p>
                <span class="redirection-back-btn"><a href="/">НАЗАД</a></span>
            </div>
        </div>
    </main>
    <footer th:fragment="footer" class="footer bg-transparent  py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 text-white">
                &copy; The Dreamer Bulgaria 2023. All rights reserved.
            </div>
        </div>
    </footer>
</body>

</html>