<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="fragments/fragment :: head"> </head>
<body>
<header >

</header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Свържи се с нас:</h1>
        <p class="h4">ул.Йордан Стратиев 4A, Sofia, Bulgaria</p>
        <p class="h3">Телефон: +359 89 77 69541</p>
        <p class="h3">Емайл: kivanov11@abv.bg</p>
        <span class="redirection-back-btn"><a href="/">НАЗАД</a></span>
        </h2>
    </div>
    </h3>
    </div>

</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
</body>
</html>
