<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="fragments/fragment :: head"></head>
<body>
    <header th:replace="fragments/fragment :: navigation">

    </header>
    <main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Добре дошли, The Dreamer Bulgaria!</h1>
            <hr class="my-3 bg-white w-50"/>
            <p class="h4">Наръчник по пътя ви към постигането на целите и превръщането ви в най-добрата си версия!</p>
            <hr class="my-3 bg-white w-75" />
            <h3>
                <a class="text-primary" href="/login">Влез</a>
                ако имаш акаунт или се
                <a class="text-primary" href="/register">Регистрирай</a>
                сега и разгледай нашите оферти!
            </h3>
        </div>
    </main>
    <footer th:replace="fragments/fragment :: footer">
    </footer>
</body>
</html>
