<!DOCTYPE html>
<html lang="en">
<head>
    <title>Return</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<main>
    <div class="footer-redirection-wrapper">
        <h2>Връщане и замяна</h2>
        <div class="footer-redirection-container">
            <p>Ако артикулът, който получите желаете да го замените с друг, моля свържете се с нас на имейл
                kivanov11@abv.bg.</p>
            <p>След като уточним детайлите по замяната, Вие трябва да изпратите пратката си към нас без наложен платеж
                до офис на Еконт, или до посочен от нас адрес. </p>
            <p>Транспортните разходи се поемат от Вас, а стоката трябва да бъде върната в запазен добър търговски вид –
                без повреди по оригиналната опаковка (да не бъде разкъсана, смачкана или др. тип повреда), трябва да е
                във вида, в който е получена. Артикулите трябва да бъдат връщани неупотребявани, неизцапани, нескъсани,
                непрани, негладени и т.н. Моля не предприемайте действия по връщането или замяната преди да се свържете
                с нас. </p>
            <p>Имате право да се откажете от Вашата поръчка в срок от 14 дни, считано от датата, на която сте получили
                стоката.
                За да упражните правото си на отказ, следва да уведомите служител на plannerbg.com за решението си и да
                се откажете от договора си в недвусмислена писмена форма тип заявление до stoichkovas@gmail.com В имейла
                трябва да посочите имената си, актуален телефонен номер и адрес.
            </p>
            <p>Преките разходи по връщането на стоката се поемат от Ползвателя.
                Стоката трябва да бъде върната в запазен добър търговски вид – без повреди по оригиналната опаковка ( да
                не бъде разкъсана, смачкана или др. тип повреда), трябва да е във вида, в който е получена. Артикулите
                трябва да бъдат връщани неупотребявани, сглобявани, прани и др.

                Не трябва да бъдат на лице повреди получени в следствие на неправилна употреба или неправилно
                сглобяване. Стоката трябва да бъде върната в пълната си окомплектовка с придружаващата я документация.

                При увреждания по опаковката, стока със следи от употреба, драскотини, удари, липсваща окомплектовка
                (както и аксесоари включени в комплекта), Доставчика си запазва правото да прецени дали да приеме така
                върнатата стока.

                Задължение на Ползвателя е да съхранява грижливо стоките получени от Доставчика до момента на тяхното
                връщане към Доставчика.

                Важно е да се знае, че правото Ви на отказ в 14 дневният срок, не Ви дава право да използвате стоките,
                които сте получили! Трябва да бъдете сигурни, че няма да се откажете от договора си и да ги върнете.
                Тези Ви права като Потребител са Ви дадени, за да имате възможността да разгледате стоката, както в
                магазин, а не за да я тествате и използвате в продължение на 14 дни и да я върнете обратно.</p>
            <span class="redirection-back-btn"><a href="/">НАЗАД</a></span>
        </div>
    </div>
</main>

<div class="bottom-info">
            <div >
                &copy; The Dreamer Bulgaria 2023. All rights reserved.
            </div>
</div>

</body>

</html>