<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешна поръчка</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <div class="success-container-wrapper">
    <div class="success-container">
      <i class="fa-sharp fa-solid fa-circle-check"></i>
      <h1>Поръчката беше направена успешно!</h1>
      <p>Благодарим Ви за доверието!</p>
      <span class="redirection-back-btn"><a href="/products">ОБРАТНО КЪМ ВСИЧКИ ПРОДУКТИ</a></span>
    </div>
  </div>

  <div class="bottom-info">
      <div>
          &copy; The Dreamer Bulgaria 2023. All rights reserved.
      </div>
  </div>

</body>
</html>