<!DOCTYPE html>
<html lang="en">
<head>
    <title>Terms And Conditions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<main>
    <div class="footer-redirection-wrapper">
        <h2>Общи Условия</h2>
        <div class="footer-redirection-container">
            <p>Общи условия

                на фирма Ню ЕРА Планер ЕООД

                касаещи ползването на интернет магазин planner.com,

                както и закупуването на стоки през planner.com.</p>
            <p>1 Дефиниции
                ДРУЖЕСТВО или plannerbg.com означава Ню ЕРА Планер ЕООД.

                ЗЗП означава Закон за защита на потребителите.

                ЗЗЛД означава Закон за защита на личните данни.

                САЙТ, УЕБСАЙТ, СТРАНИЦА или ОНЛАЙН МАГАЗИН означава интернет адрес planner.com и поддомейните му.

                ПОЛЗВАТЕЛ, ПОТРЕБИТЕЛ или КЛИЕНТ означава лице, намиращо се на домейн planner.com и поддомейните му.

                УСЛУГИ означава информационните и търговски услуги предлагани от Ню ЕРА Планер ЕООД.

                СТОКА, АРТИКУЛ или ПРОДУКТ означава предлагани на сайта planner.com стоки и услуги.

                КОЛИЧКА означава виртуална пазарска количка/кошница с Продукти, които потребителят е селектирал за
                закупуване.

                ЧЕКАУТ означава процедура по завършване на поръчка на избраните в Количката Продукти, включваща
                потвърждаване на избраните от Потребителя продукти (вкл. брой, размер и цвят), избор на метод за
                доставка, избор на метод за плащане и предоставяне на необходимата информация, за фактическото
                извършване на доставка и заплащане.

                УСЛОВИЯ и ОБЩИ УСЛОВИЯ представлява настоящия документ, уреждащ взаимоотношенията между Ню ЕРА Планер ЕООД,
                от една страна и Потребителите на електронни (Интернет) страници и услуги, намиращи се на Сайта, както и
                отношенията със същите, когато използват Услугите предлагани от Дружеството.

                ЛИЧНИ ДАННИ означава лични данни по смисъла на ЗЗЛД.

                НАЛОЖЕН ПЛАТЕЖ означава наложен платеж по смисъла на Закона за пощенските услуги. </p>
            <p>2 Общи положения
                Този Сайт е собственост на Ню ЕРА Планер ЕООД, регистрирано по Търговския закон на Република България, със
                седалище: гр. София,Йордан Стратиев 4А вписано в Търговския регистър с ЕИК 121446206 телефон за
                контакт 0897769541, имейл: newtrend (аt) abv.bg. Може да се свържете с нас чрез формата за контакт.

                Настоящите Условия уреждат взаимоотношенията между Ню Тренд ЕООД, от една страна и Потребителите на
                електронни (Интернет) страници и услуги, намиращи се на Сайта, както и отношенията със същите, когато
                използват Услугите предлагани от Дружеството.

                Тези Условия обвързват всички Ползватели. С натискането на всеки един обект, линк или бутон разположени
                на страниците на plannerbg.com (с изключение на линка към настоящите Общи условия) Потребителят се
                съгласява, изцяло приема и се задължава да спазва настоящите Общи условия.</p>
            <p>3. Стоки и информация

                Чрез електронна поръчка от сайта могат да бъдат закупувани единствено и само тези стоки, които системата
                позволява да бъдат добавяни в Количката на Ползвателя, съгласно механизма на работа на онлайн магазина.
                За всяка стока представена в Страницата са посочени цената, основните характеристики на стоката и
                допълнителна информация целяща подпомагането на направата на информиран избор при покупката на продукта.
                plannerbg.com не носи отговорност за неточности в описанието на стоката, некасаещи основните ѝ
                характеристики и не претендира за изчерпателност на предоставената информация. Също така, на всяка
                страница на представена стока има възможност Потребители на Страницата да дават мнения и оценки касаещи
                дадената стока като plannerbg.com не е обвързан по никакъв начин с тези мнения и оценки и не може да му
                бъде търсена отговорност относно достоверността им.
            </p>
            <span class="redirection-back-btn"><a href="/">НАЗАД</a></span>
        </div>
    </div>
</main>

<div class="bottom-info">
    <div>
        &copy; The Dreamer Bulgaria 2023. All rights reserved.
    </div>
</div>

</body>

</html>